@import "tailwindcss";

@layer base {
  body {
    @apply antialiased bg-slate-50 text-slate-900;
  }
}

/* Your custom scrollbar for the GreenAtlas sidebar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #064e3b;
  border-radius: 10px;
}